<div class="user-container">
    <div class="user-data" *ngIf="user">
        <div>{{user.username}}<span style="margin-left: 15px;">4.9<i class="pi pi-star-fill" style="font-size:0.85rem; margin-left: 5px;"></i></span></div>
        <span class="divide">/</span>
        <div>{{user.city}}</div>
        <!-- <span class="divide">/</span> -->
        <!-- <button (click)="sendMessage()">
            <i class="pi pi-envelope" style="margin-right:8px"></i>
            <span>Написать</span>
        </button> -->
    </div>
    
</div>

