<app-modal>
    <div class="item-card">
        <div class="item-img">
            <div>img</div>
        </div>
        <div class="item-data">
            <div>
                <div>
                    <div class="item-data-title">{{card.itemProp.title}}</div>
                    <div class="item-data-options">{{card.itemProp.condition}} / {{card.categoryProp.gender}} / {{card.categoryProp.size}}</div>
                    <div class="item-data-options">{{card.categoryProp.type}} / {{card.categoryProp.season}} / {{card.categoryProp.color}}</div>
                </div>
                <div class="item-description">
                    <p>{{card.itemProp.description}}</p>
                </div>
            </div>
            <div class="item-footer">
                <div class="item-location">
                    <div>Location: {{card.itemProp.city}}, {{card.itemProp.district}} | Delivery: {{card.itemProp.delivery}}</div>
                </div>
                <div>
                    <button>Bookmark</button>
                    <button>Message</button>
                    <button>Report</button>
                </div>
                <div>
                    <button>Update</button>
                    <button>Hide</button>
                    <button>Delete</button>
                </div>
            </div>
        </div>
    </div>
</app-modal>