i {
    color: rgb(59, 59, 59);
    font-size: 1rem;
}
i:hover {
    color: var(--main-orange);
}

.red{
    color: var(--main-orange);
}
.card-checkbox {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.card-container {
    position: relative;
}