<div class="form-filter" *ngIf="form" [formGroup]="form">
   
    <div *ngFor="let item of inputs" class="filter-menu-list">
       <div *ngIf="!item.show" (click)="addControl($event)" id="{{item.name}}">{{item.label}}</div>
       <div *ngIf="item.show" (click)="addControl($event)" id="{{item.name}}" class="close-btn">x</div>
       
       <select formControlName="{{item.name}}" *ngIf="item.show" name="{{item.name}}" id="select-{{item.name}}">
           <option *ngFor="let item of item.options" value="{{item.value}}">{{item.name}}</option>
       </select>
       
       
   </div>
   <button (click)="setParams()">Search</button>
</div>

