<div class="form-filter" *ngIf="form" [formGroup]="form">
   
    <div *ngFor="let item of inputs" class="filter-menu-list">
       <button class="button-add" *ngIf="!item.show" (click)="addControl($event)" id="{{item.name}}">{{item.label}}</button>
       <button class="button-close" *ngIf="item.show" (click)="addControl($event)" id="{{item.name}}">x</button>
       
       <select formControlName="{{item.name}}" *ngIf="item.show" name="{{item.name}}" id="select-{{item.name}}">
           <option *ngFor="let item of item.options" value="{{item.value}}">{{item.name}}</option>
       </select>
       
       
   </div>
   <button class="button-search" (click)="setParams()">Search</button>
</div>

