.user-container {
    display: flex;
    align-items: center;
    position: relative;
    color: grey;
}
.user-img {
    height: 70px;
    width: 70px;
    background: rgb(87, 87, 87);
    border-radius: 10px;
    margin-right: 10px;
}
.btn-back {
    position: absolute;
    right: 10px;
    color: grey;
    background: none;
    border: none;
}