<div class="switch-contents">
    <input id="donate" type="radio" name="dealtype-switch" checked>
    <label (click)="changeType('donate')" for="donate">Отдают</label>
    <span class="btn-divide">|</span>
    <input id="request" type="radio" name="dealtype-switch">
    <label (click)="changeType('request')" for="request">Ищут</label>
    <span class="btn-divide">|</span>
    <input id="exchange" type="radio" name="dealtype-switch">
    <label (click)="changeType('exchange')" for="exchange">Меняют</label>
</div>

