.user-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 100%;
};
.user-navigation {
    display: flex;
    flex-direction: row;
};
.btn-hide, .btn-unhide, .btn-delete {
    font-size: 1rem;
    margin-right: 5px;
}

button {
    border: none;
    background: none;
    letter-spacing: 0.1rem;
};
.btn-back {
    position: absolute;
    right: -40px;
};
.btn-back:hover {
    color: var(--main-orange)
}

.navigation-btn:hover {
    color: var(--main-orange);
}
.navigation-btn-active {
    color: var(--main-orange);
}

button {
    color: rgb(151, 151, 151);
};

button:hover {
    color: rgb(146, 167, 161);
}

.btn-divide {
    margin: 0 10px;
    color: rgb(59, 59, 59);
}
.btn-select, .btn-back  {
    border: none;
    background: none;
}
.btn-access {
    margin-right: 60px;
}
.select-line{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
i {
    font-size: 0.8rem;
    color: grey
}
.title-active {
    color: var(--main-orange)
}