<p-dialog [closable]="true" 
          [dismissableMask]="true" 
          [modal]="true" 
          [(visible)]="display"
          (onHide)="onHide()"
          header="Title">
<div class="auth-container">
    <div class="auth-header">
        <div (click)="changeFormType('authorization')">Login</div>
        <div (click)="changeFormType('registration')">Sign up</div>
    </div>
    <form *ngIf="type === 'authorization'" [formGroup]="formAuth">
        <div>
            <label for="">Email</label>
            <input type="text" pInputText formControlName="email" pInputText>
        </div>
        <div>
            <label for="">Passsword</label>
            <input type="password" pInputText formControlName="password">
        </div>
    </form>
    <button *ngIf="type === 'authorization'" (click)="submit(type)" [disabled]="!formAuth.valid">Submit</button>
    

    <form *ngIf="type === 'registration'" [formGroup]="formReg">
        <div>
            <label for="">Email</label>
            <input type="text" pInputText formControlName="email">
        </div>
        <div>
            <label for="">Username</label>
            <input type="text" pInputText formControlName="username">
        </div>
        <div>
            <label for="">City</label>
            <input type="text" pInputText formControlName="city">
        </div>
        <div>
            <label for="">District</label>
            <input type="text" pInputText formControlName="district">
        </div>
        <div>
            <label for="">Password</label>
            <input type="password" pInputText formControlName="password">
        </div>
        <div>
            <label for="">Repeat Password</label>
            <input type="password" pInputText formControlName="passwordRepeat">
        </div>
        
    </form>
    <button *ngIf="type === 'registration'" (click)="submit(type)" [disabled]="!formReg.valid">Submit</button>
    
    
</div>
</p-dialog>
