.auth-container {
    position: absolute;
    background: rgb(255, 255, 150);
    width: 700px;
    height: 500px;
}
.auth-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
}