<div class="main-container" >
    <div class="user-container" *ngIf="user">
        <div class="user-card">
            <div class="user-top" >
             
                <button (click)="openBoard()" class="btn-user"><i class="pi pi-user"></i>{{user.username}}</button>
            </div>

            <div class="user-navigation">
                <button (click)="openMessages()"><i class="pi pi-envelope"></i></button>
                <button (click)="openSettings()"><i class="pi pi-cog"></i></button>
                <button (click)="addForm()"><i class="pi pi-plus"></i></button>
            </div>
            <app-user-settings *ngIf="showSettings" (closeSettings)="this.showSettings = false"></app-user-settings>
            <app-user-messages *ngIf="showMessages" (closeMessages)="this.showMessages = false"></app-user-messages>
            <app-user-item-form *ngIf="showForm" (closeThisForm)="this.showForm = false"></app-user-item-form>
        </div>
        <div class="buttons-container">
            <div class="btn-exit-contsiner">
            </div>
            <div class="btn-exit-contsiner">
                <button class="orange-button btn-letter" (click)="logout()">Выйти</button>
            </div>
        </div>
    </div>
    <div class="board-container">
        <router-outlet></router-outlet>
    </div>
</div>


