<p-dialog [closable]="true" 
          [modal]="true" 
          [(visible)]="display"
          [showHeader]="true" 
          [dismissableMask]="true" 
          (onHide)="onHide()"
          class="modal-container">

    <div class="card-container" *ngIf="item">
        <div class="img-container"><img src="http://localhost:3003/public/{{item.img}}" alt="/"></div>
        <div class="data-container">
            <div class="item">
                <div class="options">
                    <div *ngIf="item.collection === 'personal-shoes'">
                        <ng-container *ngTemplateOutlet="personal; context: {item}"></ng-container>
                    </div>
                </div>
                <div class="item-title">{{item.item.title}}</div>
                <p class="item-description">{{item.item.description}}</p>
            </div>
            <div class="item-location">
                <div>{{item.item.city}}<span *ngIf="item.item.district" style="margin-left:10px">{{item.item.district}}</span></div>
                <div *ngIf="item.item.delivery">Delivery: {{item.item.delivery}}</div>
            </div>

            <div class="controls-container">
                <button *ngIf="!isOwnerPage" class="user-btn" (click)="userPage(item.user)">
                    <i class="pi pi-angle-left" style="margin-right:10px"></i>
                    <i class="pi pi-user"></i>
                </button>
                <app-board-card-owner-panel *ngIf="viewerType === 'owner-user'" 
                                            [item]="item"
                                            (close)="close()"></app-board-card-owner-panel>
                <app-board-card-visitor-panel *ngIf="viewerType === 'visitor-user'" [item]="item"></app-board-card-visitor-panel>
                <button *ngIf="viewerType === 'unauthorized-user'" (click)="login()" class="card-controls-btn card-btn btn">login</button>
            </div>

        </div>

    </div>        
</p-dialog>

<ng-template #personal let-item="item">
    <div class="item-options">
        <div>{{item.item.condition}} / {{item.cat.gender}} / {{item.cat.size}}</div>
        <div>{{item.cat.type}} / {{item.cat.season}} / {{item.cat.color}}</div>
    </div>
</ng-template>




