.board-header {
    position: relative;   
};

.board-header-top {
    display: flex;
    flex-direction: row;
    gap: 5px;
};

.board-header-bottom {
    position: absolute;
    top: 54px;
    width: 81%;
}