<div class="board-header">
    <div class="board-header-top">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search">         
        </span>
        <app-dealtype-select (updateDealType)="updateDealParams($event)"></app-dealtype-select>
        <app-subcategory-select (updateCategoryType)="updateCategoryParams($event)"></app-subcategory-select>
        <button class="btn btn-light" (click)="refresh()">Refresh</button>
        <button class="btn btn-light" (click)="openFilter()">Filter</button>
    </div>
    <div class="board-header-bottom">
        <app-board-header-filter *ngIf="!showFilter"
                               [show]="showFilter"
                               [collection]="collection"
                               [category]="category"
                               [deal]="deal"
                               (updateFilterParamsRequest)="updateFilterParams($event)">
        </app-board-header-filter>
    </div>
</div>