<div class="items">
    <div class="item-type d-flex justify-content-center">
        
        <h4 (click)="preview()">--</h4>
        <h4>{{btn}}</h4>
        <h4 (click)="next()">--</h4>
    </div>

    <div class="item-list">
        <div *ngIf="!forSell">
            <div *ngFor="let item of itemsSell">
                <div class="item-card">
                    <div class="card-title">item {{item}}</div>
                    <div class="card-img">img</div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <h4 (click)="addItem()" class="mb-2">Add +</h4>
    </div>
</div>

<app-user-items-form *ngIf="showItemsUserForm"></app-user-items-form>