.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-type {
    margin-bottom: 10px;
}
.item-card {
    height: 120px;
    border: 1px solid rgb(78, 78, 78);
    background: rgb(58, 58, 58);
    margin-bottom: 2px;
    background: rgb(104, 104, 104);
}
.item-list {
    margin-bottom: 30px;
}
.card-title {
    height: 30px;
}
.card-img {
    height: 90px;
    width: max;

}