.board-container {
    margin: 0 auto;
    height: 100vh;
    width: 80vw;
};
.board-panel-container {
    margin: 10px 0;
};
.board-list-container {
    overflow-y: scroll;
    min-height: 80vh;
    max-height: 90vh;
};


::-webkit-scrollbar {
    width: 6px;
    overflow-y: scroll;
   
}
::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 53);
};
.main {
    margin: 0;
    padding: 0;
}




.button-auth {
    position: fixed;
    right: 20px;
    top: 20px;
};

.error-message {
    margin-top: 200px;
    text-align: center;
    font-size: 1.4rem;
    color: rgb(95, 95, 95)
}

.auth-btn {
    position: fixed;
    right: 40px;
    top: 10px;
    background-color: none;
    background: none;
    padding: 20px;
    color: var(--main-orange);
    border: none;
    letter-spacing: 0.2rem;
}
.auth-btn:hover {
    text-shadow: 0 0 1px var(--main-orange);
}
