.board-user-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    // background: var(--light-black);
    background: rgb(36, 36, 36);
    border-radius: 10px;
};
