<div class="switch-contents">
    
    <input id="donate" type="radio" name="dealtype-switch" checked>
    <label (click)="changeType('donate')" for="donate">Catch-it.online</label>
    <span class="btn-divide">|</span>

    
    <input id="request" type="radio" name="dealtype-switch">
    <label (click)="changeType('request')" for="request">Help them</label>
    <span class="btn-divide">|</span>

    
    <input id="exchange" type="radio" name="dealtype-switch">
    <label (click)="changeType('exchange')" for="exchange">Swap</label>
</div>

