.switch-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    flex-grow: 1; 
    border-radius: 5px;
    overflow: hidden;
    // border: 0px solid rgb(77, 77, 77);
  }
  input[name="dealtype-switch"] {
    display: none;
    &:checked + label {
    //   background: rgb(250, 250, 250);
      color: var(--main-orange);
      cursor: default;
    }
}
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    // background: rgb(100, 99, 95);
    color: rgb(131, 129, 124);
    letter-spacing: 0.1rem;
    cursor: pointer;
    &:hover {
      // background: rgb(100, 99, 95);
        color: rgb(228, 168, 58);
 
    }
  }
  .btn-divide {
    margin: 0 20px;
    color: rgb(59, 59, 59);
}