<div class="main-container">
    <div class="user-container">
        <div class="user-card">
            <div *ngIf="user" (click)="openBoard()" class="user-top">
                <div class="user-img"></div>
                <div class="user-data">
                    <div>{{user.username}}</div>
                    <div>4.7</div>
                </div>

            </div>
            <!-- <div class="user-navigation">
                <div (click)="openBoard()"><i class="pi pi-shopping-bag"></i></div>
                <div (click)="openMessages()"><i class="pi pi-envelope"></i></div>
                <div (click)="openBookmarks()"><i class="pi pi-heart"></i></div>
                <div (click)="openMessages()"><i class="pi pi-cog"></i></div>
            </div> -->
            <div class="user-navigation">
                <button (click)="openBoard()"><i class="pi pi-shopping-bag"></i>items</button>
                <button (click)="openMessages()"><i class="pi pi-envelope"></i>messages</button>
                <button (click)="openBookmarks()"><i class="pi pi-heart"></i>bookmarks</button>
                <button (click)="openMessages()"><i class="pi pi-cog"></i>settings</button>
            </div>
            <app-user-settings *ngIf="showSettings" (closeSettings)="this.showSettings = false"></app-user-settings>
            <app-user-messages *ngIf="showMessages" (closeMessages)="this.showMessages = false"></app-user-messages>
            <app-user-item-form *ngIf="showForm" (closeThisForm)="this.showForm = false"></app-user-item-form>
        </div>
        <div class="buttons-container">
            <div class="btn-exit-contsiner">
                <button class="orange-button btn-form" (click)="addForm()"><i class="pi pi-plus"></i></button>
            </div>
            <div class="btn-exit-contsiner">
                <button class="orange-button btn-letter" (click)="logout()">EXIT</button>
            </div>
        </div>
    </div>
    <div class="board-container">
        <router-outlet></router-outlet>
    </div>
</div>


