.main-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: var(--font-base);
};
.user-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    padding: 10px 20px 0;
}
.btn-user {
    height: 60px;
    margin: auto 0;
}
.user-top {
    width: 100%;
    margin-bottom: 10px;
}

.user-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    font-size: 1rem;
    margin-bottom: 60px;
}
.user-navigation button {
    text-align: left;
};
i {
    margin-right: 10px;
};

.orange-button {
    background-color: none;
    background: none;
    padding: 20px;
    color: grey;
    border: none;
};
.orange-button:hover {
    color: var(--main-orange);
    text-shadow: 0 0 1px var(--main-orange);
}

.btn-form {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
}
.btn-form i {
    font-size: 1rem;
};

.btn-exit-contsiner {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.buttons-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}






