.main-container {
    // height: 100vh;
    display: flex;
    flex-direction: row;
    // position: relative;
    color: var(--font-light);
}
.user-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    padding: 10px 20px 0;
}
.user-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.user-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}
.user-navigation button {
    border: none;
    background: none;
    text-align: left;
    letter-spacing: 0.1rem;
    color: rgb(90, 90, 90);

}

i {
    font-size: 1rem;
    margin-right: 10px;
}
.user-navigation button:hover {
    color: var(--main-orange)

}


.orange-button {
    background-color: none;
    background: none;
    padding: 20px;
    color: grey;
    border: none;
};
.orange-button:hover {
    color: var(--main-orange);
    text-shadow: 0 0 1px var(--main-orange);
}
.btn-letter {
    letter-spacing: 0.2rem;
};
.btn-form {
    font-size: 3rem;
};

.btn-exit-contsiner {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.buttons-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}




.user-data {
    margin-left: 10px;
}
.user-img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background: rgb(86, 90, 89);
}
// .user-nav {
//     display: flex;
//     font-size: 1.3rem;
//     width: 150px;
//     justify-content: space-around;
//     gap: 20px;
//     margin-bottom: 60px;
// }
.button {
    color: rgb(175, 175, 175);
    border: 1px solid rgb(90, 84, 84);
}
