.main-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
    color: var(--font-light);

}
.user-container {
    min-width: 200px;
    padding: 10px 20px 0;
    border-radius: 10px 0 0 10px;
}

.user-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;;
}
.user-data {
    margin-left: 10px;
}
.user-img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background: rgb(86, 90, 89);
}
.user-nav {
    display: flex;
    font-size: 1.3rem;
    width: 150px;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}
.button {
    color: rgb(175, 175, 175);
    border: 1px solid rgb(90, 84, 84);
}
