.card-board {
    background: rgb(73, 73, 73);
    margin: 20px 40px;
    padding: 20px;
    border-radius: 15px;
}
.cards-container {
    max-height: 70vh;
    // max-width: 1200px;
    overflow-y: scroll;
    margin-top: 50px;
    border-radius: 10px;

}

