<div class="card-board">
    <app-card-board-header (category)="updateCategory($event)"
                           (deal)="updateDeal($event)"
                           (filter)="updateFilter($event)"
                           (openFilter)="openFilter($event)">
    </app-card-board-header>
    <div class="cards-container">
        <div class="container text-center">
            <div *ngIf="notFound">Not found</div>

            <div class="row row-cols-4 gx-2 card-list">
                <!--card-->
                <div class="col mb-2" *ngFor="let card of cards">
                    <div class="item-card">
                        <div class="item-card-title">{{card.itemProp.title}}</div>
                        <div class="item-card-content">
                            <div class="card-img">img</div>
                            <div class="item-card-params">
                                <div>{{card.categoryProp.size}}&nbsp;/&nbsp;{{card.itemProp.condition}}</div>
                                <div>{{card.itemProp.city}}</div>
                            </div>
                            <button (click)="open(card._id)" class="btn">Open</button>
                        </div>
                    </div>
                </div>
                <!--card-->
            </div>
        </div>
    </div>
</div>
<app-item-card [card]="card" [category]="category" *ngIf="showItemCard"></app-item-card>


