<div class="shadow-test"></div>
<div *ngIf="itemsReverse" class="container-fluid text-center cards-container" >
    <div class="row row-cols-4 gx-2 card-list">
        <div class="col mb-2 " *ngFor="let item of itemsReverse">
            <div class="card-background">
                <ng-container *ngTemplateOutlet="tmpCard; context: {item}"></ng-container>

            </div>
        </div>
    </div>
</div>

<ng-template #tmpCard let-item="item">
    <div class="card-container">
        <div class="card-item" (click)="openCard(item)">
            <div class="card-title">
                <span class="card-title">{{item.item.title}}</span><span *ngIf="item.show != true" class="hidden">(hidden)</span>
            </div>
            <div class="card-content">
                <div class="card-img">
                    <img src="http://localhost:3003/public/{{item.img}}" alt="/">
                </div>
                <div *ngIf="item.collection === 'personal-shoes' || item.collection === 'personal-clothes'" class="card-data">
                    <div>Size: {{item.cat.size}}</div>
                    <div>Condition: {{item.item.condition}}</div>
                    <div>City: {{item.item.city}}</div>
                </div>
            </div>
        </div>
        <app-board-items-owner *ngIf="type === 'owner'" [item]="item"></app-board-items-owner>
        <app-board-items-visitor *ngIf="type === 'visitor'"></app-board-items-visitor>
        <!-- <div class="card-checkbox" *ngIf="showCheckbox">
            <input type="checkbox" id="{{item._id}}" name="{{item._id}}" value="{{item._id}}"/>
        </div> -->
    </div>
</ng-template>



