.card-container {
    position: relative;
    color: var(--font-base);
}
.visitor-user-container {
    position: absolute;
    bottom: 5px;
    right: 10px;
};


.card-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.9rem;
    position: relative;
}
.card-title {
    text-align: left;
    position: relative;
    font-size: 1rem;
    padding: 5px 0 3px;
}
.hidden {
    position: absolute;
    color: grey;
    right: 6px;
};

.card-content {
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    overflow: hidden;
}
.card-img {
    height: 150px;
    width: 150px;
}
.card-img img {
    width:150px;
    height:150px;
    object-fit:cover;
    filter: opacity(0.7);
 }
 .card-img img:hover {
    filter: opacity(1);
 };

.card-data {
    padding: 5px 10px;
    text-align: left;
    width: 100%;
    border-radius: 2px;
    background: var(--card-background);
};
.card-data-info {
    margin: 2px 0;
}
.item-location {
    margin-top: 10px;
}


.card-checkbox {
    position: absolute;
    bottom: 10px;
    right: 10px;
}






