.searchbar-container {
    height: 100%;
  
};
.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background: var(--panel-dark);

    margin-bottom: 5px;
    padding: 0 5px;
    border-radius: 5px;
    gap: 8px;
};

.filter-container {
    padding: 0 5px;

}
.p-inputtext {
    padding: 10px;
    border: none;
}
.p-inputtext:hover, .p-inputtext:active, .p-inputtext:focus {
    border: none;
}
.dealtype-container {
    width: 100%;
};
.buttons-container {
    display: flex;
    justify-content: space-around;

    border-radius: 5px;
}
.button {
    border: none;
    background: none;
    color: rgb(167, 167, 167);
    margin: 0 15px;
}
.change-style {
    .p-cascadeselect {
        border-radius: 50px;
        background-color: grey;
        border: none;
    
    }
    .p-inputtext {
        color: black;
    }
    .p-cascadeselect .p-cascadeselect-trigger {
        color: black;
    }
    
}

.search-input {
    // width: 100%;
}
.search-input i {
  
    left: 30px;
}
.search-input input {
    height: 44px;
    border-radius: 5px;
    border: none;
    width: 200px;
    background: rgb(45, 45, 45);
    text-indent: 10px;
    color:rgb(173, 171, 171)
}
.search-input input:hover, .search-input input:active {

    background: rgb(45, 45, 45);

}
.search-input input::placeholder {
    color: rgb(173, 171, 171);
    font-size: 1rem;
    font-weight: 400;
}
.search-input input:focus, input:active  {
    border: none;
    outline: none;
}

