<div *ModalDirective
     #overlay
     (click)="overlayClose($event)"
     class="modal-overlay">

    <div class="modal-component">
        <ng-content></ng-content> 
        <div *ngIf="modalClose" class="modal-close">
            <p>{{messageText}}</p>
            <button (click)="closeModal()">да</button>
            <button (click)="cancel()">не</button>
        </div>
    </div>
</div>

<!-- <p-toast></p-toast> -->
        <!-- <p-confirmDialog></p-confirmDialog>
        <p-button (click)="confirm1($event)" icon="pi pi-check" label="Confirm"></p-button>
<p-button (click)="confirm2($event)" icon="pi pi-times" label="Delete" styleClass="p-button-danger"></p-button> -->