.card-controls-btn {
    margin-left: 5px;
    border: 2px solid rgb(185, 173, 173);
}
.card-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

i {
    color: rgb(59, 59, 59);
    font-size: 1.5rem;
}
i:hover {
    color: var(--main-orange);
}

.red{
    color: var(--main-orange);
}
.card-icon {
    border: none;
    background: none;
}