
.overlap-style {
    .p-cascadeselect {
        background-color: var(--white)
    }
    .p-inputtext {
        color: black;
    }
    .p-cascadeselect .p-cascadeselect-trigger {
        color: black;
    }
    .p-cascadeselect .p-cascadeselect-label {
        padding: 10px;
    }

}