.board-header {
    position: relative;

}
.board-header-top {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.board-header-bottom {
    position: absolute;
    top: 60px;
}
// .form-filter {
//     position: absolute;
//     left: 0;
//     top: 80px;
//     min-height: 400px;
//     min-width: 700px;
//     background: rgb(255, 255, 255);
//     border-radius: 5px;
// }