<!-- <app-modal> -->
<div class="modal-overlay">
    <div class="item-card">
        <div class="item-img">
            <div>img</div>
            <button *ngIf="type === 'user'" (click)="openUserCard()">All users items</button>
        </div>
        <div class="item-data">
            <div>
                <div>
                    <div class="item-data-title">{{item.itemProp.title}}</div>
                    <div class="item-data-options">{{item.itemProp.condition}} / {{item.categoryProp.gender}} / {{item.categoryProp.size}}</div>
                    <div class="item-data-options">{{item.categoryProp.type}} / {{item.categoryProp.season}} / {{item.categoryProp.color}}</div>
                </div>
                <div class="item-description">
                    <p>{{item.itemProp.description}}</p>
                </div>
            </div>
            <div class="item-footer">
                <div class="item-location">
                    <div>Location: {{item.itemProp.city}}, {{item.itemProp.district}} | Delivery: {{item.itemProp.delivery}}</div>
                </div>
                <div *ngIf="type === 'user'">
                    <button (click)="addBookmark()">Bookmark</button>
                    <button (click)="sendMessage()">Message</button>
                    <button (click)="report()">Report</button>
                </div>
                <!-- <div *ngIf="type === 'owner'">
                    <button (click)="update()">Update</button>
                    <button (click)="hide()">Hide</button>
                    <button (click)="deleteCard()">Delete</button>
                </div>
                <div *ngIf="type === 'preview'">
                    <button (click)="sendData(false)">Back</button>
                    <button (click)="sendData(true)">Submit</button>
                </div>
                <div *ngIf="type === 'guest'">
                    <button (click)="login()">Login</button>
                </div> -->

            </div>
        </div>
    </div>
</div>
<!-- </app-modal> -->